@font-face {
  font-family: "Ocean";
  src: url(/src/fonts/ocean.otf);
}

@font-face {
  font-family: "Lucky";
  src: url(/src/fonts/lucky.ttf);
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/public/img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Ocean";
  color: #9ed1fd;
  font-size: 8vw;
  line-height: 1.1;
  text-shadow: -2px -2px 0 black, 4px -4px 0 black, -1px 4px 0 black, 1px 4px 0 black;
}

h1 {
  font-size: 70px;
}

#start-screen {
  text-align: center;
}

canvas {
  background-color: transparent;
  border-radius: 20px;
}

.hidden {
  display: none !important;
}

.screen {
  width: 100%;
  height: 100%;
  text-align: center;
}

.button {
  cursor: pointer;
  width: 50%;
  max-width: 400px;
  height: auto;
}

.guide {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 3vh;
}

.guide-instruction img {
  width: 80%;
  max-width: 500px;
}

.guide-bubble {
  display: flex;
  flex-direction: column;
  font-family: "Lucky";
  font-size: 2vw;
  color: white;
}

.guide-bubble-e,
.guide-bubble-q {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1vh 0;
}

.guide-bubble img {
  width: 10vw;
  max-width: 50px;
}

#you-win,
#game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}

#you-win img,
#game-over img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.try-again-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.try-again-button img {
  width: 20%;
  max-width: 200px;
  height: auto;
  cursor: pointer;
}

.icons {
  width: 720px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.icons img {
  width: 32px;
  cursor: pointer;
  margin-left: 20px;
}

@media only screen and (max-width: 1025px) and (orientation: landscape) {
  body {
    font-size: 6vw;
    flex-direction: row;
    align-items: flex-start;
  }

  h1,
  .icons {
    display: none !important;
  }

  .guide {
    display: none;
  }

  .screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*padding: 20px;*/
  }

  canvas {
    width: 70% !important;
    height: auto !important;
  }

  /*.guide-instruction img {
    width: 40vw;
  }

  .guide-bubble {
    width: 40vw;
  }

  .guide-bubble-e img,
  .guide-bubble-q img {
    max-width: 5vw;
  }*/

  .button {
    width: 40%;
  }

  .icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .icons img {
    width: 24px;
  }

  #orientation-lock img {
    display: none !important;
  }

  #joystick-area {
    position: fixed;
    bottom: 40%;
    left: 1%;
    width: 80px;
    height: 80px;
    z-index: 1000;
  }

  #joystick-base {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }

  #joystick-knob {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    touch-action: none;
  }

  #button-area {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .button-phone {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  #orientation-lock {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  #orientation-lock img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    animation: rotate 2s infinite;
  }

  @keyframes rotate {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-50deg);
    }
    75% {
      transform: rotate(50deg);
    }
  }

  #button-area {
    display: none !important;
  }
}
