@font-face {
  font-family: "Ocean";
  src: url(/src/fonts/ocean.otf);
}

@font-face {
  font-family: "Lucky";
  src: url(/src/fonts/lucky.ttf);
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/public/img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Hält das Bild fest */
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Ocean";
  color: #9ed1fd;
  font-size: 8vw;
  line-height: 1.1;
  text-shadow: -2px -2px 0 black, 4px -4px 0 black, -1px 4px 0 black, 1px 4px 0 black;
}


h1 {
  font-size: 70px;
}

#start-screen {
  text-align: center;
  padding: 5vh 2vw;
}

canvas {
  background-color: transparent;
  border-radius: 20px;
}

.hidden {
  display: none !important;
}

.screen {
  text-align: center;
  padding: 50px;
}

.button {
  cursor: pointer;
  width: 50%;
  max-width: 400px;
  height: auto;
}

.guide {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 3vh;
}

.guide-instruction img {
  width: 80%;
  max-width: 500px;
}

.guide-bubble {
  display: flex;
  flex-direction: column;
  font-family: "Lucky";
  font-size: 2vw;
  color: white;
}

.guide-bubble-e,
.guide-bubble-q {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1vh 0;
}

.guide-bubble img {
  width: 10vw;
  max-width: 50px;
}

#you-win {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}

#you-win img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.try-again-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.try-again-button img {
  width: 20%;
  max-width: 200px;
  height: auto;
  cursor: pointer;
}

.icons {
  width: 720px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;

}

.icons img {
  width: 32px;
  cursor: pointer;
  margin-left: 20px;
}